body {
  margin: 0.31rem;

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(330px, 1fr));
  grid-gap: 1.2rem;
  /*background: green;*/
	background-color: #f2f2f2;
}
p {
	margin:1px;
	text-align: justify;
	font-size: 0.91rem;
}
img {
  max-width: 100%;
  box-shadow: 0 0 3px #B0BEC5;
}
small {padding: 0.1rem;}

.stopka {text-align: right;
width:100%;
padding 1px;

}

article {
	
  padding: 10px;
  overflow: hidden;
  font: 12px/1.1 system-ui, sans-serif;
border-radius: 4px;
background: #f2f2f2;
box-shadow:  -5px 5px 11px #b6b6b6, 
             5px -5px 11px #ffffff;
}
article a {
  text-decoration: none;
  color: #455A64;
}
article a:hover, article a:focus {
  color: #2196F3;
}
article h2 {
  padding: 0.5rem 0.1rem;
  margin: 0;
}
